<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type=text/css href="../static/style.css">
    <title>Movie Rating</title> 
  </head>
  <body class ="movdiv">
    <div class ="movdiv1">
        <h1>Movie Rating & Reviews</h1>
        <h2>Here are your movie reviews, Enjoy!</h2>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Rating</th>
              <th>Story Line</th>
            </tr>
          </thead>
          <tbody>
            {% for movie in movies %}
             <tr>
              <td>{{ movie.title }}</td>
              <td>{{ movie.rating }}</td>
              <td>
               {{ movie.description }}
              </td>
             </tr>
            {% endfor %}  
          </tbody>
        </table>
        
        
      
    </div>  
  </body>
</html>


 